<launch>
    <param name="robot_description" command="xacro '$(find freehicle_description)/urdf/freehicle/freehicle.xacro'" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
    <arg name="rvizconfig" default="$(find freehicle)/rviz/freehicle.rviz" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" output="screen" />

    <!-- prettier-ignore -->
    <node pkg="rosbag" type="record" name="rosbag" args="-a -O $(find freehicle)/bags/data.bag" />
</launch>